.about-me {
  text-align: center;
}

.nav-item {
  color: white;
}

.withbg  {   
  background-image: url(../images/back14.jpg);
  object-fit: cover;
  background-position: center;
  background-size: auto;
  color: black;
}
.display-4 {
  font-family: 'Lobster', serif;
  font-size: 48px;
}

.lead {
  font-weight: 'Lato', serif;
  font-size: 15px;
}

.card-header {
  color: #FF3B3B;
}

.mar {
  margin-left: 2px;
  margin-right: 2px;
}

